# any values set here will override the defaults in variables.tf

#facilities = ["ewr1"]
#webserver_count = 2
#operating_system = "ubuntu_16_04"

#
# this overrides the default of using the keys in the home directory ~/.ssh/
# if you want to use a key in the local directoy, be sure to generate a keypair with:
# ssh-keygen -f ./id_rsa
#
#public_key_filename = "./id_rsa.pub"
#private_key_filename = "./id_rsa"

#
# if you wish to store your Packet project ID and API auth token, they can be saved here
# simply replace the strings below and remove the comment hash #
# alternatively, these values can be stored as environment variables
# see the README for more details
#
#packet_auth_token="ABCDEFGHIJKLMNOPQRSTUVWXYZ123456"
#packet_project_id="12345678-90AB-CDEF-GHIJ-KLMNOPQRSTUV"

